.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cb2dcb;
}
 .nav-logo{
    width: 150px;
    
}

.nav-menu-options{
    list-style: none;
    display: flex;
    gap: 60px;
    
}

.nav-menu-options li{
   font-size: 22px;
   font-weight: 500;
   color: rgb(0, 0, 0);
   cursor: pointer;
}

.nav-menu-options hr{
    border: none;
    width: 95%;
    height: 3px;
    border-radius: 10px;
    background: black;
}
